body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.wrap {
    width: 960px;
    margin: auto;
}

header {
    background-color: #2c3e50;
    height: 45px;
}

header h1 {
    color: white;
    display: inline-block;
    font-size: 18px;
}

nav  {
    color: white;
    padding-left: 0px;
    font-size: 12px;
    display: inline-block;
    float: right;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 2px;
}
  
nav li a:hover {
    background-color: #23292e;
}

.bg-green {
    background-color: #18bc9c;
    padding: 60px 0 50px 0;
}

.banner {
    text-align: center;
    color: white;
}

.banner h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.white-line-star::before, .white-line-star::after {
    content: "";
    height: 4px;
    width: 70px;
    background-color: white;
    display: inline-block;
    margin-bottom: 3px;
}

.white-line-star i {
    font-size: 20px;
    position: relative;
    align-items: center;
}

.bg-white {
    background-color: white;
}

.portfolio h2 {
    font-size: 32px;
    margin: 60px 0px 10px 0px;
}

.portfolio {
    text-align: center;
    color: #2c3e50;
}

.dark-line-star::before, .dark-line-star::after {
    content: "";
    height: 3px;
    width: 70px;
    background-color: #2c3e50;
    display: inline-block;
    margin-bottom: 4px;
}

.dark-line-star i {
    font-size: 20px;
    position: relative;
    align-items: center;
}

.two-rows { 
    padding: 20px;
    display: inline-block;
    position: relative;
}





